.mealsContainer {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.categorie {
  width: 60px;
}

.categories {
  align-self: center;
  display: flex;
  font-size: 14px;
  justify-content: space-around;
  margin-bottom: 20px;
  text-align: center;
}

.loading {
  height: 50px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
}

