.recommendations {
  display: flex;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}

.recommendations::-webkit-scrollbar {
  display: none;
}

.recommendation-img {
  height: 180px;
  width: 180px;
}

.start-recipe-btn {
  background-color: #fcc436;
  border: none;
  border-radius: 10px;
  bottom: 0;
  color: white;
  font-style: normal;
  font-weight: 700;
  height: 50px;
  left: 0;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  right: 0;
  text-transform: uppercase;
  width: 95%;
}

.cardSlide h2 {
  font-size: 22px;
  margin-left: 10px;
  margin-top: 5px;

}

.cardGrade {
  border: 2px solid #b1b1b1;
  border-radius: 10px;
  box-shadow: 1px 5px 5px;
  margin-bottom: 30px;
  margin-right: 5px;
}

.recipeDetailsContainer h3 {

  /* identical to box height */
  color: #1a1b1c;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-left: 10px;
}

.recipeDetailsContainer iframe {
  border-radius: 2px;
  margin-bottom: 30px;
  margin-left: 5px;
  width: 97%;

  /* margin-right: auto; */
}

.recipeDetailsContainer {
  background-color: whitesmoke;
  height: 100%;
}

.instructions {
  background: white;
  border: 0.554px solid #b1b1b1;
  border-radius: 5.351px;
  margin-bottom: 30px;
  padding: 15px;
}

.ingredients {
  background: white;
  border: 0.554px solid #b1b1b1;
  border-radius: 5.351px;
  margin-bottom: 30px;
  padding: 15px;
}

.recipeDetailsContainer img {
  position: relative;
}

.shareLike {
  display: flex;
  justify-content: space-evenly;
  left: 150px;
  position: absolute;
  top: 20px;
  width: 200px;
}

.recipeImg {
  filter: brightness(0.8);
}

.favorite {
  width: 50px;
}

.ingre {
  margin-top: 30px;
}

.recipeName {
  color: white;
  font-size: 30px;
  font-weight: 800;
  left: 50%;
  position: absolute;
  text-shadow: 5px 5px 5px black;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
}

.solidHeart {
  color: red;
  font-size: 30px;
}

.enptyHeart {
  color: purple;
  font-size: 30px;
  text-shadow: 4px 4px 4px white;
}

.shareButton {
  color: purple;
  font-size: 30px;
  text-shadow: 4px 4px 4px white;
}

.ingredient-checkbox {
  list-style: none;
}

.check {
  background-color: #fcc436;
  margin-right: 10px;
}
